<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

  <system.serviceModel>
    <services>
      <service name="SimpleService.DetectionService">
        <clear />
        <endpoint
          address="https://localhost:62363/mex"
          binding="mexHttpsBinding"
          bindingConfiguration="secureMex"
          name="mexEndpoint"
          contract="SimpleService.IDetectionService"
          listenUriMode="Explicit">
          <identity>
            <certificateReference

              storeName="My"
              storeLocation="LocalMachine"
              x509FindType="FindBySubjectDistinguishedName" />
          </identity>
        </endpoint>
        <endpoint
          address="https://localhost:62363"
          binding="basicHttpsBinding"
          bindingConfiguration="secureHttp"
          name="httpsEndpoint"
          contract="SimpleService.IDetectionService" />
      </service>
    </services>
    <bindings>
      <mexHttpsBinding>
        <binding name="secureMex" />
      </mexHttpsBinding>
      <basicHttpsBinding>
        <binding name="secureHttp" />
      </basicHttpsBinding>
    </bindings>
  </system.serviceModel>
</configuration>