<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="secureHttp" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint
        address="https://localhost:62363"
        binding="basicHttpsBinding"
        bindingConfiguration="secureHttp"
        contract="SimpleService.IDetectionService"
        name="secureEndpointClient"
        kind=""
        endpointConfiguration="">
        <identity>
          <certificateReference
            storeName="My"
            storeLocation="LocalMachine"
            x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>